@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
* {
    outline:none;
}


html {
    font-size: 62.5%;
}

body{
    background-color: black;
}

a{
    color: white !important;
    text-decoration: none !important;
}

p{
    margin: 0;
    color: white;
}

section{
    padding: 60px 0;
}

.navigation-bar {
   background-color:rgba(0, 0, 0, 0.5);
   z-index:100;
}

.navbar-brand:hover{
    opacity: .8;
}

.logo{
    margin-bottom:0.5rem;
    max-height: 60px;
    max-width: 60px;
    filter: invert(1) drop-shadow(1px 1px 1px  rgb(0, 0, 0));
}
.hamburger-menu{
    position:fixed;
    top: 0px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    z-index:999;
}

.hamburger-menu i{
    font-size: 30px;
    color: #C39E6D;
    margin: auto;
}

.hamburger-menu .fa-times{
    display: none;
}

.hamburger-menu .fa-times.open{
    display:block;
}

.hamburger-menu .fa-bars.open{
    display:none;
}

.nav-list{
    margin-right:45rem !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: black;
    z-index:900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 650ms;
}

.nav-list.open{
    opacity: 1;
    transform: scale(1);
}
.nav-link{
    font-family: 'Lato', san-serif;
    font-size: 1.3rem;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
}

#hero-slider h1{
    font-size: 7rem;
    font-family: "Montserrat";
    font-weight:900;
    color: white;
    /* color: #C39E6D; */
    text-shadow: 1.5px 1.5px black;
    text-transform: uppercase;
}

#hero-slider .hero-slide-item {
    position: relative;
    height: 100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#hero-slider .hero-slider-marketing {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #fff;
    top: 42%;
    left: 0;
    right: 0;
    margin: -100px auto 0;
}

#hero-slider .slick-dots {
  bottom: 35px;
}

#hero-slider .slick-dots li button:before {
    color: #C39E6D;
    opacity: 1;
    line-height:1px;
    margin: 0 !important;
    padding: 10px 10px 10px 10px;
    border: 3px solid transparent;
    border-radius: 20px;
}
  
#hero-slider .slick-dots li.slick-active button:before {
    border-color: #C39E6D;
    width:33px;
}

.gym-logo {
    /* margin: 0 2rem; */
    position: relative;
    margin: 0 auto;
    /* left:46%; */
    align-items: center;
    /* border: 3px solid black; */
    /* padding: 15px 10px 7px; */
    max-height: 175px;
    max-width: 175px;
    filter:drop-shadow(1px 1px 1px  rgb(0, 0, 0));
    /* text-align: center;
    letter-spacing: 2px; */
}


.btn {
    margin-top:1.5rem;
    padding: 5px 0 !important;
    border-radius: 25px;
    border: 2px solid #c39e6da3;
    position: relative;
    overflow: hidden;
    font-size: 2rem;
    width: 140px;

}

.btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: all 650ms;
}

.btn:hover::before{
    left:100%;
}


@media (min-width: 576px) {
    
    .navbar-brand{
        max-width: 150px;
    }



    .hamburger-menu{
        top: 0px;
        right: 0px;
    }
}


@media (min-width: 1430px){

    
    .logo{
        display: block;
        margin-left:45rem;
        /* margin-right:0; */
    }

    header > .container{
        padding:0 15px;
    }
    

    .hamburger-menu {
        display: none;
    }

    .navbar-brand{
        position: initial;
        transform: initial;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: initial;
        flex-direction: row;
        opacity: initial;
        transform:initial;
        transition: initial;
        margin: 0;
        padding: 0;
    }

    .nav-item{
        margin: 0 15px;
    }

    .nav-item:last-child{
        margin-right: 0;
    }

    .nav-link{
        position: relative;
        padding: 0;
    }

    .nav-link::before{
        content:"";
        position: absolute;
        left: 0;
        bottom: -3px;
        background-color: #C39E6D;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 650ms;
    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }
}